<p>Hi {{ data.recepient_name }}</p>
<p>This is a his is a generated email to notify you the list of tickets related to you or your team. We have listed the jira tickets below. Please review and update the tickets.&nbsp;&nbsp;</p>
<p>&nbsp;</p>
<table class="editorDemoTable" style="width: 630px;" border="1" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <td style="width: 92px;">Issue</td>
            <td style="width: 325px;">Title</td>
            <td style="width: 100px;">Status</td>
        </tr>
    </thead>
    <tbody>
        {% for issue in issues %}
        <tr>
            <td style="width: 92px;"><a href="https://atlassian/jira/browse/{{ issue.ticket }}">{{ issue.ticket }}</a></td>
            <td style="width: 325px;">{{ issue.summary }}</td>
            <td style="width: 100px;">{{ issue.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>